<a href="https://colab.research.google.com/github/pragatii-sharmaa/AI-ML-codes/blob/main/pyhtonprogramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello boo")
print(7)
print(True)

hello boo
7
True

In [ ]:
a='pragati'
print(a)

pragati

In [ ]:
num1= input('enter num1 ')
num2= input('enter num2 ')
print(num1,num2)
print(int(num1)+int(num2))
int(5.6)

enter num1 7
enter num2 9
7 9
16

5

In [ ]:
print('delhi'+' mumbai')
print ('delhi '*6)
print('  *')
print(' * *')
print('* * *')

delhi mumbai
delhi delhi delhi delhi delhi delhi
  *
 * *
* * *

In [ ]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
list=[1,2,3,'alice',['bob',1.5]]
print(list[2])
print(list)

3
[1, 2, 3, 'alice', ['bob', 1.5]]

In [ ]:
list=[1,2,'alice',9.5,['bob']]
print(list)
list.append('true')
print(list)
list.extend(['charlie','delta'])
print(list)
list.insert(3,'bravo')
print(list)

[1, 2, 'alice', 9.5, ['bob']]
[1, 2, 'alice', 9.5, ['bob'], 'true']
[1, 2, 'alice', 9.5, ['bob'], 'true', 'charlie', 'delta']
[1, 2, 'alice', 'bravo', 9.5, ['bob'], 'true', 'charlie', 'delta']

In [ ]:
fs = frozenset([1, 2, 3])
print(fs)

frozenset({1, 2, 3})

In [ ]:
student={'name':"alice", "age": "21", "course": "CSE"}
print(student)
print(student.get("name"))  # Alice
print(student["age"])  # 21
print(student.get("gender", "Not Found"))  # Returns 'Not Found' if key does not exist
student["age"] = 22  # Update value
student["city"] = "New York"  # Add new key-value pair
print(student)
student.pop("age")  # Removes 'age' key
del student["city"]  # Deletes 'city' key
#student.clear()  # Empties dictionary
print(student)

{'name': 'alice', 'age': '21', 'course': 'CSE'}
alice
21
Not Found
{'name': 'alice', 'age': 22, 'course': 'CSE', 'city': 'New York'}
{'name': 'alice', 'course': 'CSE'}

In [ ]:
student={'name':"alice", "age": "21", "course": "CSE"}
for key, value in student.items():
    print(key, ":", value)

name : alice
age : 21
course : CSE

In [ ]:
from collections import defaultdict
dd = defaultdict(int)  # Default value for missing keys is 0
dd["x"] += 1
print(dd["x"])  # 1
print(dd["y"])  # 0 (default value)

1
0

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("boo"))  # Output: Hello, Alice!

Hello, boo!

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4]
sum_all = reduce(lambda x, y: x + y, nums)
print(sum_all)  # Output: 10

10